<ion-view title="Friends" hide-back-button='true'>
 
  <div class="list">
    <label class="item item-input">
      <span class="input-label">ID</span>
      <input type="text" ng-model='login.id'>
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password">
    </label>
  </div>
  <div class='padding'>
    <button class="button button-block button-balanced" ng-click='login(login.id)'>
      Login
    </button>
  </div>

</ion-view>
